.privacyContainer{
    margin: 8% 30%;
     h1{
       text-align: -webkit-center;
     }
     hr{
       width: 18%;
       text-align: center;
       margin-bottom: 10%;
     }
     p{
       font-size: larger;
       text-align: left;
       margin-bottom: 5%;
     }
}